<filepath="sky-left.png" id="sky_left" colfmt=14 />
<filepath="sky-front.png" id="sky_front" colfmt=14 />
<filepath="sky-right.png" id="sky_right" colfmt=14 />
<filepath="sky-back.png" id="sky_back" colfmt=14 />
<filepath="sky-top.png" id="sky_top" colfmt=14 />
<filepath="sky-bottom.png" id="sky_bottom" colfmt=14 />
