<filepath="pano-left.png" id="sky_left" colfmt=14 />
<filepath="pano-front.png" id="sky_front" colfmt=14 />
<filepath="pano-right.png" id="sky_right" colfmt=14 />
<filepath="pano-back.png" id="sky_back" colfmt=14 />
<filepath="pano-top.png" id="sky_top" colfmt=14 />
<filepath="pano-bottom.png" id="sky_bottom" colfmt=14 />
